<p>Olá, Rayssa! =)</p>
<p><%= @reserva.nome %> - portador do CPF:<%= @reserva.cpf %> - deseja reservar <%= @reserva.quantidade %> minions em miniatura.<br/>
Poderá entrar em contato através do email <%= @reserva.email %> e do telefone <%= @reserva.telefone %>.</p>

<p>Atenciosamente,</p>

<p>Gestor de Reservas<br/>
--------Minionshop</p>